@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-mono: 'Fira Mono', monospace;
    /* ToDo: les autres variables au lieu de les hardcoder */
} 

* {
    font-family: var(--font-mono);
}

a {
    width: 100%;
}

a:hover {
    color: #E5C3D1;
}

a:visited {
    color: #E5C3D1;
}
